In [156]:
import importlib
import pandas as pd
pd.set_option('display.max_columns', 100)
import numpy as np

import sys
sys.path.insert(0, '../visualization')

import reduce_memory as rm
importlib.reload(rm)
import visualization_funcs as vf
importlib.reload(vf)
import preprocess as pre
importlib.reload(pre)

In [2]:
# paths
start_path = '../data/'
data_path = start_path + 'train.csv'
test_path = start_path + 'test/test.csv'

In [3]:
data_df = pd.read_csv(data_path)

In [4]:
data_df_cat = vf.map_num_to_cat(data_df)
data_df_cat.head()

,Type,Name,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,FurLength,Vaccinated,Dewormed,Sterilized,Health,Quantity,Fee,State,RescuerID,VideoAmt,Description,PetID,PhotoAmt,AdoptionSpeed
0,Cat,Nibble,3,Tabby,0,Male,Black,White,0,Small,Short,No,No,No,Healthy,1,100,Selangor,8480853f516546f6cf33aa88cd76c379,0,Nibble is a 3+ month old ball of cuteness. He ...,86e1089a3,1.0,2
1,Cat,No Name Yet,1,Domestic Medium Hair,0,Male,Black,Brown,0,Medium,Medium,Not Sure,Not Sure,Not Sure,Healthy,1,0,Kuala Lumpur,3082c7125d8fb66f7dd4bff4192c8b14,0,I just found it alone yesterday near my apartm...,6296e909a,2.0,0
2,Dog,Brisco,1,Mixed Breed,0,Male,Brown,White,0,Medium,Medium,Yes,Yes,No,Healthy,1,0,Selangor,fa90fa5b1ee11c86938398b60abc32cb,0,Their pregnant mother was dumped by her irresp...,3422e4906,7.0,3
3,Dog,Miko,4,Mixed Breed,0,Female,Black,Brown,0,Medium,Short,Yes,Yes,No,Healthy,1,150,Kuala Lumpur,9238e4f44c71a75282e62f7136c6b240,0,"Good guard dog, very alert, active, obedience ...",5842f1ff5,8.0,2
4,Dog,Hunter,1,Mixed Breed,0,Male,Black,0,0,Medium,Short,No,No,No,Healthy,1,0,Selangor,95481e953f8aed9ec3d16fc4509537e8,0,This handsome yet cute boy is up for adoption....,850a43f90,3.0,2

In [5]:
data_df_cat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14993 entries, 0 to 14992
Data columns (total 24 columns):
Type             14993 non-null category
Name             13736 non-null object
Age              14993 non-null int64
Breed1           14993 non-null category
Breed2           14993 non-null category
Gender           14993 non-null category
Color1           14993 non-null category
Color2           14993 non-null category
Color3           14993 non-null category
MaturitySize     14993 non-null category
FurLength        14993 non-null category
Vaccinated       14993 non-null category
Dewormed         14993 non-null category
Sterilized       14993 non-null category
Health           14993 non-null category
Quantity         14993 non-null int64
Fee              14993 non-null int64
State            14993 non-null category
RescuerID        14993 non-null object
VideoAmt         14993 non-null int64
Description      14981 non-null object
PetID            14993 non-null object
PhotoAmt         14993 non-null float64
AdoptionSpeed    14993 non-null int64
dtypes: category(14), float64(1), int64(5), object(4)
memory usage: 1.4+ MB

# Reducing Memory

In [6]:
condensed = rm.downcast_df_int_columns(data_df_cat)

downcasting integers for: ['Age', 'Quantity', 'Fee', 'VideoAmt', 'AdoptionSpeed']

reduced memory usage for:   Age             from     0.12 to     0.03
reduced memory usage for:   Quantity        from     0.12 to     0.02
reduced memory usage for:   Fee             from     0.12 to     0.03
reduced memory usage for:   VideoAmt        from     0.12 to     0.02
reduced memory usage for:   AdoptionSpeed   from     0.12 to     0.02

In [7]:
condensed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14993 entries, 0 to 14992
Data columns (total 24 columns):
Type             14993 non-null category
Name             13736 non-null object
Age              14993 non-null int16
Breed1           14993 non-null category
Breed2           14993 non-null category
Gender           14993 non-null category
Color1           14993 non-null category
Color2           14993 non-null category
Color3           14993 non-null category
MaturitySize     14993 non-null category
FurLength        14993 non-null category
Vaccinated       14993 non-null category
Dewormed         14993 non-null category
Sterilized       14993 non-null category
Health           14993 non-null category
Quantity         14993 non-null int8
Fee              14993 non-null int16
State            14993 non-null category
RescuerID        14993 non-null object
VideoAmt         14993 non-null int8
Description      14981 non-null object
PetID            14993 non-null object
PhotoAmt         14993 non-null float64
AdoptionSpeed    14993 non-null int8
dtypes: category(14), float64(1), int16(2), int8(3), object(4)
memory usage: 937.5+ KB

# Get the Data

In [8]:
X_train, X_valid, y_train, y_valid, test = pre.get_data(data_path, test_path, 'AdoptionSpeed')

downcasting integers for: ['Age', 'Quantity', 'Fee', 'VideoAmt', 'AdoptionSpeed']

reduced memory usage for:   Age             from     0.12 to     0.03
reduced memory usage for:   Quantity        from     0.12 to     0.02
reduced memory usage for:   Fee             from     0.12 to     0.03
reduced memory usage for:   VideoAmt        from     0.12 to     0.02
reduced memory usage for:   AdoptionSpeed   from     0.12 to     0.02

downcasting integers for: ['Age', 'Quantity', 'Fee', 'VideoAmt']

reduced memory usage for:   Age        from     0.03 to     0.01
reduced memory usage for:   Quantity   from     0.03 to      0.0
reduced memory usage for:   Fee        from     0.03 to     0.01
reduced memory usage for:   VideoAmt   from     0.03 to      0.0

In [9]:
X_train.head()

,Type,Name,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,FurLength,Vaccinated,Dewormed,Sterilized,Health,Quantity,Fee,State,RescuerID,VideoAmt,Description,PetID,PhotoAmt
6786,Dog,7 Puppies,1,Mixed Breed,0,Mixed,Brown,White,0,Medium,Medium,No,No,No,Healthy,7,0,Selangor,27decc3f571f54ac92229d5afe57c19a,0,Puppies for adoption- PJ Tropicana~ Adorable p...,2eb4fa594,5.0
9837,Dog,A88,2,Mixed Breed,Mixed Breed,Female,Brown,White,0,Medium,Medium,No,Yes,No,Healthy,1,0,Selangor,eba983b85e34963999d476ccada91619,0,For Adoption,ce768b010,3.0
7688,Cat,Baby Kittens,1,Domestic Short Hair,Domestic Short Hair,Mixed,Black,Yellow,White,Medium,Short,No,No,Not Sure,Healthy,3,0,Selangor,ba2ed53835f071deb31da82a384654ce,0,Kittens age approx 2 weeks. Found them nearby ...,3d889fe46,2.0
6556,Dog,Coco,2,German Shepherd Dog,Mixed Breed,Female,Black,Brown,0,Medium,Medium,No,No,No,Healthy,1,0,Selangor,93135c99bd79564288a9554aef595282,0,The mother of the puppy is a German Shepherd mix,6366dd2f9,1.0
11322,Dog,Jack,2,Mixed Breed,0,Mixed,Brown,Yellow,White,Small,Short,Not Sure,Not Sure,Not Sure,Healthy,3,0,Perak,39bc0d4d83554ae09a4a3b31b88d9059,1,The puppy Borned outside our house front gate....,14bbc5876,3.0

In [10]:
y_train.head()

6786     3
9837     3
7688     3
6556     2
11322    4
Name: AdoptionSpeed, dtype: int8

In [11]:
import os, os.path
print (len(os.listdir('../data/train_images')))

58311

In [12]:
# os.listdir('../data/train_images')

# Text Analysis

In [13]:
vf.avg_post_len(data_df_cat['Description'])

62.97552191022477

In [16]:
posts = X_train['Description'].apply(lambda x: str(x))

# if there are more words than maxlen, cut it off
maxlen = round (vf.avg_post_len(posts))

max_words = 20000 # maximum number of words in embedding
embedding_dim = 100 # dimension of each word vector

In [17]:
embeddings_index = pre.get_GloVe('/Users/jinli/Projects/glove.6B')

Found 400000 word vectors.

In [18]:
word_input, word_index = pre.map_words_to_int(
    posts.values,
    max_words, 
    maxlen
)

/Users/jinli/anaconda3/lib/python3.6/site-packages/h5py/__init__.py:34: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

Found 19402 unique tokens.

In [19]:
embedding_matrix = pre.create_embedding_matrix (
    word_index, 
    embeddings_index, 
    max_words, 
    embedding_dim
)

In [20]:
embedding_matrix.shape

(20000, 100)

# Tabular Preprocess

In [66]:
train_X_cleaned.head()

,Type,Name,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,FurLength,Vaccinated,Dewormed,Sterilized,Health,Quantity,Fee,State,VideoAmt,PetID,PhotoAmt
6786,Dog,Name,1,Mixed Breed,None,Mixed,Brown,White,None,Medium,Medium,No,No,No,Healthy,7,0,Selangor,0,2eb4fa594,5.0
9837,Dog,No_Name,2,Mixed Breed,Mixed Breed,Female,Brown,White,None,Medium,Medium,No,Yes,No,Healthy,1,0,Selangor,0,ce768b010,3.0
7688,Cat,Name,1,Domestic Short Hair,Domestic Short Hair,Mixed,Black,Yellow,White,Medium,Short,No,No,Not Sure,Healthy,3,0,Selangor,0,3d889fe46,2.0
6556,Dog,Name,2,German Shepherd Dog,Mixed Breed,Female,Black,Brown,None,Medium,Medium,No,No,No,Healthy,1,0,Selangor,0,6366dd2f9,1.0
11322,Dog,Name,2,Mixed Breed,None,Mixed,Brown,Yellow,White,Small,Short,Not Sure,Not Sure,Not Sure,Healthy,3,0,Perak,1,14bbc5876,3.0

In [161]:
trans = pre.DataCleaning()
train_X_cleaned = trans.fit_transform(X_train)
test = train_X_cleaned.drop('PetID', axis=1)#.apply(lambda x: str(x))

train_X_1hot, pipeline_1hot = pre.transform_df(
    test,
    cat_encode_type="one hot"
)

converting Name                           size:  0.83	->	 0.11
converting Breed1                         size:  0.94	->	 0.14
converting Breed2                         size:  0.86	->	 0.12
converting Color1                         size:  0.84	->	 0.11
converting Color2                         size:  0.84	->	 0.11
converting Color3                         size:  0.83	->	 0.11

/Users/jinli/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype int8, int16, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/Users/jinli/anaconda3/lib/python3.6/site-packages/sklearn/base.py:462: DataConversionWarning: Data with input dtype int8, int16, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [162]:
train_X_1hot.shape

(11994, 364)

In [163]:
pipeline_1hot

ColumnTransformer(n_jobs=None, remainder='drop', sparse_threshold=0.3,
         transformer_weights=None,
         transformers=[('num', Pipeline(memory=None,
     steps=[('std_scaler', StandardScaler(copy=True, with_mean=True, with_std=True))]), ['Age', 'Quantity', 'Fee', 'VideoAmt', 'PhotoAmt']), ('cat', OneHotEncoder(categorical_features=None, categories=None,
       dtype=<class 'numpy.float64'>, handle_unkn... 'Color3', 'MaturitySize', 'FurLength', 'Vaccinated', 'Dewormed', 'Sterilized', 'Health', 'State'])])